{% extends 'base.html' %}
{% load pybo_filter %}
{% load mathfilters %}
{% block content %}

<div class="loader"></div>

<div class="container mt-3" id="body-wrapper">
    <div id="body-content">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2 p-0">
                {% include "sidebar.html" %}
            </div>
            <!-- Page Content -->
            <div id="page-content-wrapper" class="col-sm-12 col-md-9 col-lg-10 p-0">
                <div class="container my-3">
                    <div class="row justify-content-end my-3">
                        <div class="col-4 input-group">
                            <input type="text"  title="종목코드 또는 종목명을 입력하세요 예:A005930"  style="text-transform: uppercase;" class="form-control kw" value="{{ kw|upper|default_if_none:'' }}">
                            <div class="input-group-append">
                                <button class="btn btn-primary pull-right" type="button" id="btn_search">찾기</button>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped" >
                        <thead>
                        <tr class="thead-dark text-center">
                            <th><div style="height: 100%; line-height: 100%;">필드명</div></th>
                            <th><div style="height: 100%; line-height: 100%;">결과값</div></th>
                            <th><div style="height: 100%; line-height: 100%;">필드명</div></th>
                            <th><div style="height: 100%; line-height: 100%;">결과값</div></th>
                            <th><div style="height: 100%; line-height: 100%;">필드명</div></th>
                            <th><div style="height: 100%; line-height: 100%;">결과값</div></th>
                        </tr>
                        </thead>
                        {% if pathdetailinfo_list %}
                        {% for pathdetailinfo in pathdetailinfo_list %}
                        <tbody>
                        <tr class="thead-dark text-center">
                            <!--<th class="col-md-2">날짜</th> -->
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">주식코드</font></b></div></td>
                            <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockCode }}</div></td>
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">주식명</font></b></div></td>
                            <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockName }}</div></td>
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">시장유형</font></b></div></td>
                            <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.MarketType }}</div></td>
                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">종가</font></b></div></td>
                            <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.ClosePrice|floatformat:"0" }}</div></td>
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">봉타입</font></b></div></td>
                            <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.BarType }}</div></td>
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">봉길이구분</font></b></div</td>
                            {% if pathdetailinfo.BarLengthType == None or pathdetailinfo.BarLengthType == ""  %}
                                <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">보통</div></td>
                            {% else %}
                                <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.BarLengthType }}</div>/td>
                            {% endif %}

                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">스토캐스틱지표</font></b></div></td>
                            {% if pathdetailinfo.StochasticFlag == None or pathdetailinfo.StochasticFlag == ""  %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">과열국면아님</div></td>
                            {% else %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StochasticFlag }}</div></td>
                            {% endif %}
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">볼린저밴드위치</font></b></div></td>
                            {% if pathdetailinfo.BolingerBandPos == None or pathdetailinfo.BolingerBandPos == ""  %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:0.8em;">볼린저밴드 범위안</div></td>
                            {% else %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ pathdetailinfo.BolingerBandPos }}</div></td>
                            {% endif %}
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:1em;"><b><font color="white">MACD전략신호</b></div></td>
                            {% if pathdetailinfo.MACDFlag == None or pathdetailinfo.MACDFlag == ""  %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">신호없음</div></td>
                            {% else %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.MACDFlag }}</div></td>
                            {% endif %}
                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:0.9em;"><font color="white"><b>스토캐스틱<br>전략신호</b></font></div></td>
                            {% if pathdetailinfo.StochasticCrossFlag == None or pathdetailinfo.StochasticCrossFlag == ""  %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">신호없음</div></td>
                            {% else %}
                                <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StochasticCrossFlag }}</div></td>
                            {% endif %}
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">볼린저밴드두께<br>(최근20일)</font></b></div></td>
                            <!--
                            {% if pathdetailinfo.STDevStochasticFlag == None or pathdetailinfo.STDevStochasticFlag == "" %}
                                {% if pathdetailinfo.BarFinalCode|slice:"6:7" == "4" or pathdetailinfo.BarFinalCode|slice:"6:7" == "5" %}
                                    <td class="col-2 align-items-center" ><font size="3">밴드두께 상위</font></td>
                                {% elif pathdetailinfo.BarFinalCode|slice:"6:7" == "1" or pathdetailinfo.BarFinalCode|slice:"6:7" == "2" %}
                                    <td class="col-2 align-items-center" ><font size="3">밴드두께 하위</font></td>
                                {% else %}
                                    <td class="col-2 align-items-center" ><font size="3">밴드두께 보통</font></td>
                                {% endif %}
                            {% else %}
                                <td class="col-2 align-items-center" ><font size="2">{{ pathdetailinfo.STDevStochasticFlag }}</font></td>
                            {% endif %}
                            -->
                            <td class="col-2 align-items-center"><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.STDevStochasticFlag }}</div></td>
                            <td class="col-2 align-items-center" bgcolor="black"><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">거래량지표<br>(최근20일)</font></b></div></td>
                            <!--
                            {% if pathdetailinfo.VolumeFlag == None or pathdetailinfo.VolumeFlag == "" %}
                                {% if pathdetailinfo.BarFinalCode|slice:"5:6" == "4" or pathdetailinfo.BarFinalCode|slice:"5:6" == "5" %}
                                    <td class="col-2 align-items-center" >거래량 상위</td>
                                {% elif pathdetailinfo.BarFinalCode|slice:"5:6" == "1" or pathdetailinfo.BarFinalCode|slice:"5:6" == "2" %}
                                    <td class="col-2 align-items-center" >거래량 하위</td>
                                {% else %}
                                    <td class="col-2 align-items-center" >거래량 보통</td>
                                {% endif %}
                            {% else %}
                                 <td class="col-2 align-items-center" >{{ pathdetailinfo.VolumeFlag }}</td>
                            {% endif %}
                            -->
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.VolumeFlag }}</div></td>
                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black" colspan='6' ><b><font color="white"> 유사차트종목 검색결과(종목수 : {{ pathdetailinfo.StockBarcodePerfTotal.BarFinalCode_Cnt }}  ,  {{ pathdetailinfo.trade_date }} 기준)</font></b></td>
                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">7일Plus종목수</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.PlusDay7BarCode_Cnt }}</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">30일Plus종목수</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.PlusDay30BarCode_Cnt }}</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">90일Plus종목수</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.PlusDay90BarCode_Cnt }}</div></td>
                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">7일기대수익률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay7Average|mul:100|floatformat:"1" }} %</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">30일기대수익률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay30Average|mul:100|floatformat:"1" }} %</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">90일기대수익률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay90Average|mul:100|floatformat:"1" }} %</div></td>
                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">7일최대수익률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay7MaxReturn|mul:100|floatformat:"1" }} %</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">30일최대수익률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay30MaxReturn|mul:100|floatformat:"1" }} %</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">90일최대수익률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay90MaxReturn|mul:100|floatformat:"1" }} %</div></td>
                        </tr>
                        <tr class="thead-dark text-center">
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">7일최대손실률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay7MinReturn|mul:100|floatformat:"1" }} %</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">30일최대손실률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay30MinReturn|mul:100|floatformat:"1" }} %</div></td>
                            <td class="col-2 align-items-center" bgcolor="black" ><div style="height: 100%; line-height: 100%; font-size:0.9em;"><b><font color="white">90일최대손실률</font></b></div></td>
                            <td class="col-2 align-items-center" ><div style="height: 100%; line-height: 100%; font-size:1em;">{{ pathdetailinfo.StockBarcodePerfTotal.TotDay90MinReturn|mul:100|floatformat:"1" }} %</div></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="12"><div style="text-align: center; height: 20px; line-height: 20px;">데이터가 없습니다.</div></td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                 <div class="container my-3" p-0>
                    <button class="btn btn-success pull-right" type="button" id="btn_detailsearch">기술적지표 유사종목조회 </button>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="searchForm" method="get" action="{% url 'pathdetailinfo' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|upper|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

<form id="searchdetailForm" method="get" action="{% url 'stockpathdetail' %}">
    <input type="hidden" id="kw2" name="kw" value="{{ kw|upper|default_if_none:'' }}">
    <input type="hidden" id="page2" name="page" value="{{ page }}">
</form>

{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){

    $("#btn_search").on('click', function() {
        $('.loader').show();
        $("#kw").val($(".kw").val());
        $("#page").val(1);
        $("#searchForm").submit();
    });

    $("#btn_detailsearch").on('click', function() {
        $('.loader').show();
        $("#kw").val($(".kw2").val());
        $("#page").val(1);
        $("#searchdetailForm").submit();
    });
});

$(window).on('load', function() {
     $('.loader').hide();
});

</script>
{% endblock %}



