{% extends 'base.html' %}
{% load pybo_filter %}
{% load mathfilters %}
{% block content %}

<div class="container mt-3">
    <!-- Sidebar -->
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2 p-1">
            {% include "sidebar.html" %}
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper" class="col-sm-12 col-md-9 col-lg-10 p-1">
            <div class="container my-3">
                <div class="row justify-content-end my-3">
                    <div class="col-4 input-group">
                        <input type="text" style="text-transform: uppercase;" class="form-control kw" value="{{ kw|upper|default_if_none:'' }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary pull-right" type="button" id="btn_search">찾기</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" >
                    <thead>
                    <tr class="thead-dark text-center">
                        <th class="col-md-1.3"><font size="2.5">날짜</font></th>
                        <th class="col-md-1.2"><font size="2">주식코드</font></th>
                        <th class="col-md-2.5">주식명</th>
                        <th class="col-md-1">종가</th>
                        <th class="col-md-1.2"><font size="2">차트유사종목수</font></th>
                        <th class="col-md-1.2"><font size="2">7일평균수익율</font></th>
                        <th class="col-md-1.2"><font size="2">30일평균수익율</font></th>
                        <th class="col-md-1.2"><font size="2">7일성공율</font></th>
                        <th class="col-md-1.2"><font size="2">30일성공율</font></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if stockpathdetail_list %}
                    {% for stockpathdetail in stockpathdetail_list %}
                    <tr class="text-center">
                        <!-- <td>{{ forloop.counter }}</td>  -->
                        <td><font size="1.5"><b>{{ stockpathdetail.trade_date }}</b></font></td>
                        <td><font size="2"><b>{{ stockpathdetail.StockCode }}</b></font></td>
                        <td><font size="2.5"><b>{{ stockpathdetail.StockName }}</b></font></td>
                        <td><font size="2"><b>{{ stockpathdetail.ClosePrice|floatformat:"0" }}</b></font></td>
                        <td><font size="2"><b>{{ stockpathdetail.StockBarcodePerfTotal.BarFinalCode_Cnt }}</b></font></td>
                        <td><font size="2"><b>{{ stockpathdetail.StockBarcodePerfTotal.TotDay7Average|mul:100|floatformat:"1" }} % </b></font></td>
                        <td><font size="2"><b>{{ stockpathdetail.StockBarcodePerfTotal.TotDay30Average|mul:100|floatformat:"1" }} % </b></font></td>
                        <td><font size="2"><b>{{ stockpathdetail.StockBarcodePerfTotal.Day7SuccessRate|mul:100|floatformat:"1" }} % </b></font></td>
                        <td><font size="2"><b>{{ stockpathdetail.StockBarcodePerfTotal.Day30SuccessRate|mul:100|floatformat:"1" }} % </b></font></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="12">데이터가 없습니다.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

                <!-- 페이징처리 시작 -->
                <ul class="pagination justify-content-center">
                    {% if stockpathdetail_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ stockpathdetail_list.previous_page_number }}" href="#">이전</a>
                       <!-- <a class="page-link" href="?page{{ question_extralist.previous_page_number }}">이전</a> -->
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                    {% endif %}
                    <!-- 페이지 리스트 -->
                    {% for page_number in stockpathdetail_list.paginator.page_range %}
                    {% if page_number >= stockpathdetail_list.number|add:-5 and page_number <= stockpathdetail_list.number|add:5 %}
                        {% if page_number == stockpathdetail_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                            <!--<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>-->
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                            <!--<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> -->
                        </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    <!-- 다음 페이지 -->
                    {% if stockpathdetail_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ stockpathdetail_list.next_page_number }}" href="#" >다음</a>
                        <!--<a class="page-link" href="?page={{ stockpathdetail_list.next_page_number }}">다음</a>-->
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- 페이징처리 끝 -->

            </div>
        </div>
    </div>
</div>


<form id="searchForm" method="get" action="{% url 'stockpathdetail' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|upper|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}




