{% extends 'base.html' %}
{% load pybo_filter %}
{% load mathfilters %}
{% block content %}

<div class="loader"></div>

<div class="container mt-3" id="body-wrapper">
    <div id="body-content">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2 p-0">
                {% include "sidebar.html" %}
            </div>
            <!-- Page Content -->
            <div id="page-content-wrapper" class="col-sm-12 col-md-10 col-lg-10 p-0">
                <div class="container my-3">

                    <div class="page-header bg-primary text-white" >
                      <h2><span class="badge badge-pill badge-primary">*</span>주가차트 유사종목 조회   <small> - 기술적 지표유사 차트조회</small></h2>
                    </div>

                    <!-- 구글 상단광고  -->
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5997522744771647"
                         crossorigin="anonymous"></script>
                    <!-- 유사종목상단 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5997522744771647"
                         data-ad-slot="6249153891"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                    <div class="row justify-content-end my-3">
                        <div class="col-sm-12 col-lg-4 input-group">
<!--                        <div class="col-4 input-group">    -->
                            <input type="text" title="종목코드 또는 종목명을 입력하세요 예:A005930"  style="text-transform: uppercase;" class="form-control kw"  placeholder="주식코드 or 주식명" value="{{ kw|upper|default_if_none:'' }}">
                            <div class="input-group-append">
                                <button class="btn btn-primary pull-right" type="button" id="btn_search">찾기</button>
                            </div>
                        </div>
                    </div>

                    <table id="example-table-1" class="col-sm-12 table table-striped" style="table-layout: auto; width: 100%; table-layout: fixed">
                        <colgroup>
                            <col width="15%" />
                            <col width="20%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="9%" />
                            <col width="9%" />
                            <col width="9%" />
                            <col width="9%" />
                            <col width="9%" />
                            <col width="10%" />
                        </colgroup>

                        <thead>
                        <tr class="thead-dark text-center align-items-center">
                            <!--<th class="col-md-2">날짜</th> -->
                            <th class="col-2.0 align-items-center" rowspan='2' ><div style="height: 100%; line-height: 100%; font-size:0.9em;">날짜</div></th>
                            <th class="col-3.0 align-items-center" rowspan='2' ><div style="height: 100%; line-height: 100%; font-size:0.9em;">주식명</div></th>
                            <th class="col-1.2 align-items-center" rowspan='2' ><div style="height: 100%; line-height: 100%; font-size:0.9em;">종가</div></th>
                            <th class="col-0.8 align-items-center" colspan='6' ><div style="height: 100%; line-height: 100%; font-size:0.9em;">실현수익율</div></th>
                            <th class="col-1.0 align-items-center" colspan='1' ><div style="height: 10px; line-height: 10px; font-size:0.7em;">유사종목수</div></th>
                        </tr>
                        <tr class="thead-dark text-center align-items-center">
                            <th class="col-0.8"><div style="height: 100%; line-height: 100%; font-size:0.8em;">최근</div></th>
                            <th class="col-0.8"><div style="height: 100%; line-height: 100%; font-size:0.8em;">7일</div></th>
                            <th class="col-0.8"><div style="height: 100%; line-height: 100%; font-size:0.8em;">30일</div></th>
                            <th class="col-0.8"><div style="height: 100%; line-height: 100%; font-size:0.8em;">90일</div></th>
                            <th class="col-0.8"><div style="height: 100%; line-height: 100%; font-size:0.8em;">180일</div></th>
                            <th class="col-0.8"><div style="height: 100%; line-height: 100%; font-size:0.8em;">360일</div></th>
                            <th class="col-1.0"><div style="height: 100%; line-height: 100%; font-size:0.6em;">전체</div></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if stockpathdetail_list %}
                        {% for stockpathdetail in stockpathdetail_list %}
                        <tr class="text-center">
                            <!-- <td>{{ forloop.counter }}</td>  -->
                            <td><div style="height: 100%; line-height: 100%; font-size:0.7em;">{{ stockpathdetail.trade_date|date:'Y-m-d' }}</div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.7em;">{{ stockpathdetail.StockName }}</div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.7em;">{{ stockpathdetail.ClosePrice|floatformat:"0" }}</div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ stockpathdetail.StockBarcodePerfReturn.TodayReturn|mul:100|floatformat:"1" }} % </div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ stockpathdetail.StockBarcodePerfReturn.Day7Return|mul:100|floatformat:"1" }} % </div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ stockpathdetail.StockBarcodePerfReturn.Day30Return|mul:100|floatformat:"1" }} % </div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ stockpathdetail.StockBarcodePerfReturn.Day90Return|mul:100|floatformat:"1" }} % </div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ stockpathdetail.StockBarcodePerfReturn.Day180Return|mul:100|floatformat:"1" }} % </div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ stockpathdetail.StockBarcodePerfReturn.Day360Return|mul:100|floatformat:"1" }} % </div></td>
                            <td><div style="height: 100%; line-height: 100%; font-size:0.8em;">{{ stockpathdetail.StockBarcodePerfTotal.BarFinalCode_Cnt }}</div></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="12"><div style="text-align: center; height: 20px; line-height: 20px;">데이터가 없습니다.</div></td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>


                    <!-- 페이징처리 시작 -->
                    <ul class="pagination justify-content-center">
                        {% if stockpathdetail_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ stockpathdetail_list.previous_page_number }}" href="#">이전</a>
                           <!-- <a class="page-link" href="?page{{ question_extralist.previous_page_number }}">이전</a> -->
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                        </li>
                        {% endif %}
                        <!-- 페이지 리스트 -->
                        {% for page_number in stockpathdetail_list.paginator.page_range %}
                        {% if page_number >= stockpathdetail_list.number|add:-5 and page_number <= stockpathdetail_list.number|add:5 %}
                            {% if page_number == stockpathdetail_list.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                                <!--<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>-->
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                                <!--<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> -->
                            </li>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        <!-- 다음 페이지 -->
                        {% if stockpathdetail_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ stockpathdetail_list.next_page_number }}" href="#" >다음</a>
                            <!--<a class="page-link" href="?page={{ stockpathdetail_list.next_page_number }}">다음</a>-->
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- 페이징처리 끝 -->

                    <!-- 구글 하단광고  -->
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5997522744771647"
                         crossorigin="anonymous"></script>
                    <!-- 유사종목하단 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5997522744771647"
                         data-ad-slot="5187902404"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </div>
<!--
                <div class="col-lg-12" id="ex1_Result1" ></div>
    		    <div class="col-lg-12" id="ex1_Result2" ></div>
-->
            </div>
        </div>
    </div>
</div>


<form id="searchForm" method="get" action="{% url 'stockpathdetail' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|upper|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        //location.reload();
        $('.loader').show();
        $(".page-link").css({ 'pointer-events': 'none' });
        $("#btn_search").attr('disabled', true);
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        //location.reload();
        $('.loader').show();
        $('#btn_search').attr('disabled', true);
        $(".page-link").css({ 'pointer-events': 'none' });
        $("#kw").val($(".kw").val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});


$(window).on('load', function() {
     $('.loader').hide();
});


$("#example-table-1 tr").on('click', function() {
	var str = ""
	var tdArr = new Array();

	// 현재 클릭된 Row(<tr>)
	var tr = $(this);
	var td = tr.children();

	console.log("클릭한 Row의 모든 데이터 : "+tr.text());

	td.each(function(i){
		tdArr.push(td.eq(i).text());
	});

	console.log("배열에 담긴 값 : "+tdArr);

	var trade_date = td.eq(0).text();
	var stockcode = td.eq(1).text();
	var stockname = td.eq(2).text();

	str +=	" * 클릭된 Row의 td값 = No. : <font color='red'>" + trade_date + "</font>" +
			", 아이디 : <font color='red'>" + stockcode + "</font>" +
			", 이름 : <font color='red'>" + stockname + "</font>";

	//$("#ex1_Result1").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());
	//$("#ex1_Result2").html(str);
    //$("#detailForm").submit();

});

</script>
{% endblock %}




