{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5997522744771647"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>StockpathTracker</title>


</head>
<body>

{% include "navbar.html" %}

{% block content %}
{% endblock %}


<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

{% block script %}
{% endblock %}

</body>
<fotter>
    <table class="table table-striped" >
        <thead>
        <tr class="bg-primary text-center text-white">
            <th class="col-md-1.8"><font size="4">stocktracker.co.kr<br></font><font size="2">주의) 본 사이트의 데이터는 통계적으로 분석한 결과로 미래수익을 보장하지 않습니다. <br> 투자판단을 위한 참고자료로만 사용하시기를 강조드립니다.</font></th>
        </tr>
        </thead>
    </table>
</fotter>
</html>